*/build
*/dist
*/classes
*/bin/

*.idea
*.iml
*.class
*.apk
*.swap
*.xsl

*.idea
*.war
*.settings/
*.pyc

*.classpath

*/.project
*/target/
*/.settings/
*/.metadata/
*/.DS_Store
*.DS_Store
*/.settings/
